.App {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, button{
  margin: 5px;
  width: 200px;
}

.list-item {
  cursor: pointer;
}